* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

main {
  display: grid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* transition: 2s; */
  padding: 20px 20px 20px 15px;
  background-color: black;
  text-align: right;
  font-size: 20px;
  padding-right: 20px;
}
.banner {
  height: 60px;
}

.navbar #button {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: black;
  border: none;
  padding: 0px;
}

.navbar #button:hover {
  color: lightgrey;
}

.navbar .active {
  color: grey;
}

.headline {
  display: flex;
  height: 50vh;
  font-size: 160px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  background: url("//unsplash.it/1000/400") center center/cover;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
}

nav ul li a:hover {
  color: lightgrey;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 0px 10px 10px 10px;
  height: 100vh;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  background: url("//unsplash.it/1650/1080") center center/cover;
}
